    
    <footer>
        <section class="footer">
            <div class="content__footer">
                <h2>Title Here Footer</h2>
                <div class="footer__informations">
                    <p class="p__information">
                        0000 Edit Address Here, Edit State Here, Edit City here, Edit Country here
                    </p>
                    <p class="p__information">
                        +55 (codeArea) 0000-0000
                    </p>
                    <p class="p__information">
                        emailcompany@domaincompany.com
                    </p>
                </div>
            </div>

            <div class="content__footer">
                <h4>Title Here</h4>
                <ul class="ul__footer">
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                </ul>
            </div>

            <div class="content__footer">
                <h4>Title Here</h4>
                <ul class="ul__footer">
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                </ul>
            </div>

            <div class="content__footer">
                <h4>Title Here</h4>
                <ul class="ul__footer">
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                    <li>
                        <a href="" class="link__foooter">Link Here</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="copyright">
            <div class="content__copyright">
                <div class="menu__lgpd">
                    <ul class="list__lgpd">
                        <li>
                            <a href="" class="link__lgpd">Termos de Uso</a>
                        </li>
                         <li>
                            <a href="" class="link__lgpd">Politica de Privacidade</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content__credits">
                <div class="item__credits">
                    <span class="text__allrights">© 2024. All Rights Reserved.</span>
                </div>
                <div class="item__credits">
                    <ul class="ul__socialmidia">
                        <li>
                            <a href="" class="socialmidia__link">Insta</a>
                        </li>
                        <li>
                            <a href="" class="socialmidia__link">Insta</a>
                        </li>
                        <li>
                            <a href="" class="socialmidia__link">Insta</a>
                        </li>
                        <li>
                            <a href="" class="socialmidia__link">Insta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
    
    
    <script src="./assets/js/bundle.js"></script>
</body>
</html>