<nav class="menu">
    <div class="logotype">
        <img src="../../../public/assets/img/logo__type.png" alt="">
    </div>

    <ul class="ul__menu">
        <a href="" class="cabecalho__menu__link">Início</a>
        <a href="" class="cabecalho__menu__link">Agenda</a>
    </ul>

    <div class="entry__create-account">
        <a href="" class="btn__header">Acessar Conta</a>
        <a href="" class="btn__header">Criar Conta</a>
    </div>
    
</nav>