<%- include('includes/head'); %>

     <header class="cabecalho">
        <%- include('includes/nav'); %>
     </header>

     <main>
         <section class="content__contato">
            <%- include('includes/contatoform'); %>
         </section>
         
     </main>
     
   
   

   <%- include('includes/footer'); %>
    
