<%- include('includes/head'); %>


   <h2>
        
        <% if(typeof titulo !== 'undefined') { %>
             <%= titulo %><br />
        <% } else { %>
            O título não foi enviado
        <% } %>
        <br />
   </h2>

   <p>
        <% numeros.forEach(num => { %>
            <%= num %><br />
        <% }); %>
   </p>

   <p>

   </p>

   <%- include('includes/footer'); %>
    
